* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

/* CSS rules for x-small mobile sizes. */
@media only screen and (min-width: 0px) {
  
    .gallery-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #f8f9f9;
        padding: 3rem 5rem;
        /* margin: 0rem auto; */
    }
}

/* CSS rules for mobile sizes. */
@media only screen and (min-width: 360px) {
  
    .gallery-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #f8f9f9;
        padding: 3rem 5rem;
        /* margin: 0rem auto; */
    }
}

/* CSS rules for tablet sizes. */
@media only screen and (min-width: 640px) {
  
    .gallery-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #f8f9f9;
        padding: 3rem 10rem;
        /* margin: 0rem auto; */
    }
}

/* CSS rules for desktop screen sizes. */
@media only screen and (min-width: 1024px) {

    .gallery-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background-color: #f8f9f9;
        padding: 3rem 10rem;
    }
}

#homepage-section {
    /* margin-bottom: 2rem; */
}

#homepage-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Displaying text over image */
#homepage-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homepage-text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
}

#homepage-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: .5rem;
}

#homepage-text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background-color: orange;
    padding: 1rem;
    border-radius: .5rem;
    text-decoration: none;
}

/* match all class substring */
[class^='gallery-image'] {
    background-color: white;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: .5rem;
    box-shadow: 2px 2px 3px grey;;
}
